<div class="barra-busqueda layout">
    <div class="input-container">
        <input class="input-search" type="text" placeholder="codigo, nombre" [(ngModel)]="contenidoInput" (keyup)="search()">
        <button class="button-clear-input" (click)="clearInput()">x</button>
    </div>
    <div class="icons">
        <i class="bi bi-upc-scan" (click)="iniciarScanner()"></i>
    </div>
</div>

<app-lector-codigo-barras *ngIf="scanerDisponible"  (newItemEvent)="addItem($event)"></app-lector-codigo-barras>