.layout {
    grid-template-columns: repeat(8, 1fr);
}

i {
    color: #6c757d;
    font-size: 25px;
    padding: var(--spacing-1);
}

.input-container {
    grid-column: 1 / 8;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.input-search{
    grid-column: 1/9;
    grid-row: 1/2;
}

.button-clear-input {
    grid-column: 8/9;
    grid-row: 1/2;
    background-color: #adb5bd;
}

.icons {
    grid-column: 8 / 9;
    display: flex;
}
