<app-navigation [url]="'/home'" [title]="'Organizar inventario'"></app-navigation>

<div class="container">
  <button class="btn--action-add" (click)="navigateByUrl('/organizar/crear-ubicacion')"><i class="bi bi-plus-circle"> Agregar nueva ubicacion</i></button>

  <h1>Ubicaciones</h1>

  <!-- loader -->
  <app-loader *ngIf="cargando"></app-loader>

  <div *ngIf="!cargando">
    <app-card-ubicacion *ngFor="let ubicacion of ubicaciones" [ubicacion]='ubicacion' (newItemEvent)="deleteUbicacion(ubicacion)"></app-card-ubicacion>
  </div>

  <app-texto-ayuda [textoAyuda]="textoAyuda"></app-texto-ayuda>
</div>
