/* modals */
.container-modal {
  padding: var(--spacing-3);
}

.layout-modal {
  display: grid;
  row-gap: var(--spacing-5);
}

.layout-modal__element {
  display: grid;
  row-gap: var(--spacing-2);
}

.layout-modal .modal__img {
  border-radius: var(--border-radius);
  width: 80%;
  justify-self: center;
}


/* medium*/
@media (min-width: 576px) {
  .layout-modal .modal__img {
    width: 40%;
  }
}


/* large */
@media (min-width: 768px) {
  .layout-modal .modal__img {
    width: 25%;
  }
}
