<div class="card-ubicacion border container shadow--short" >
  <!-- Nombre ubicacion -->
  <blockquote class="card-ubicacion__nombre-ubicacion" *ngIf="!editando">{{ubicacion.nombre_ubicacion}}</blockquote>
  <input type="text" *ngIf="editando" #txtNombreUbicacion>

  <!-- acciones -->
  <button class="btn--acion-edit" (click)="toggleEditar()">
    <i class="bi bi-pencil" *ngIf="!editando"></i>
    <i class="bi bi-check"  *ngIf="editando"></i>
  </button>
  <button class="btn--acion-delete">
    <i class="bi bi-trash"></i>
  </button>
</div>